@import '~bootstrap/scss/bootstrap';
@import './partials/variables.scss';
@import './partials/mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
