.spingiGiu {
    margin-top: 100vh;
}

.latosx {

    border: 1px solid black;
    background-color: antiquewhite;
    padding: 0;
}

.latodx {

    border: 1px solid black;
    background-color: aliceblue;
}