// colori
$color-primary: #ff5a60f3;
$color-secondary: #928e8e75;
$color-tertiary: #FC642D;
$color-white: #FFFFFF;
$color-primary_transparent: #ff5a60e0;
$color-black: #484848;
$color-pink: #F58181;

// background
$bg-light: #F6F3F3;
$bg-dark: #6e6e6e;

