// DAHSBOARD

// side nav bar

#sidebarMenu {
    background-color: $color-pink;
    // background: linear-gradient(180deg, rgba(245, 129, 129, 1) 23%, rgba(246, 243, 243, 1) 85%, rgba(246, 243, 243, 1) 100%);
    // padding: 0;
    // box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

    a:hover {
        background-color: rgba($color: #ff5a60f3, $alpha: 0.5);
    }

    ;

    img {
        width: 40%;
    }

    ;
}

.sidebarHover {
    background-color: $color-primary;
}

// margin top sidebar
.main_top {
    margin-top: 0;
}


// margin top sidebar
@media (max-width: 768px) {
    .main_top {
        margin-top: 126px;
    }
}

// margin top sidebar
@media (max-width: 992px) {
    .main_top {
        margin-top: 126px;
    }
}

// margin top sidebar
@media (min-width: 991px) {
    #sidebarMenu {
        display: none;
    }
}

@media (max-width: 780px) {
    .offcanvas.offcanvas-start {
        width: 100vw;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1040;
        overflow-x: hidden;
        overflow-y: auto;
        visibility: visible;
        transition: all 0.3s;
    }
}

#navbarLarge {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}