// DAHSBOARD

// side nav bar

#sidebarMenu {
    background-color: $color-pink;
    // background: linear-gradient(180deg, rgba(245, 129, 129, 1) 23%, rgba(246, 243, 243, 1) 85%, rgba(246, 243, 243, 1) 100%);
    // padding: 0;
    // box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    a:hover {
        background-color: rgba($color: #ff5a60f3, $alpha: 0.5);
    }

    ;

    img {
        width: 40%;
    }

    ;
}

.sidebarHover {
    background-color: $color-primary;
}


